.new{
    
    width: 100vw;
    height: 84px;

    background-color: #23242C;

    display: flex;
    justify-content: center;
    align-items: center;

   

    position: fixed;
    bottom: 0;
    left: 0;


    & button{
        width: 218px;
        height: 3rem;

        background-color: var(--content-brand);

        color: black;
        font: 700 16px/24px var(--inter-tight);

        border-radius: .5rem;
        outline: none;
        border: none;

        box-shadow: 0 0 20px var(--content-brand);
        
        &:hover{
            background-color: #BDB4FA;
            box-shadow: 0 0 30px var#BDB4FA;
        }

    }
}





@media (width > 430px){

.new{
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: initial;
    right: -150px;
    height: max-content;
    width: max-content;
    & button{
        position: absolute;
        top: 0;
        cursor: pointer;
    }
}

}